<a href="https://colab.research.google.com/github/arturgmrs/imd_tec_002/blob/master/aula2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**
1.   Importando Data Frames
2.   Limpeza de dados
3.   Análises Estatísticas
4.   Outliers

# 1) Importando Data Frames

In [77]:
import pandas as pd
df = pd.read_csv ("https://raw.githubusercontent.com/arturgmrs/imd_tec_002/master/datasets/fifa_world_cup_2018/wc_forecasts.csv")
df

         forecast_timestamp          team  ... win_league                timestamp
0   2018-06-22 13:56:23 UTC        Brazil  ...    0.18890  2018-06-22 13:57:55 UTC
1   2018-06-22 13:56:23 UTC         Spain  ...    0.18647  2018-06-22 13:57:55 UTC
2   2018-06-22 13:56:23 UTC        France  ...    0.08782  2018-06-22 13:57:55 UTC
3   2018-06-22 13:56:23 UTC       Germany  ...    0.08652  2018-06-22 13:57:55 UTC
4   2018-06-22 13:56:23 UTC       Belgium  ...    0.08281  2018-06-22 13:57:55 UTC
..                      ...           ...  ...        ...                      ...
91  2018-06-13 15:00:46 UTC       Tunisia  ...    0.00031  2018-06-22 13:57:55 UTC
92  2018-06-13 15:00:46 UTC     Australia  ...    0.00028  2018-06-22 13:57:55 UTC
93  2018-06-13 15:00:46 UTC   South Korea  ...    0.00022  2018-06-22 13:57:55 UTC
94  2018-06-13 15:00:46 UTC        Panama  ...    0.00011  2018-06-22 13:57:55 UTC
95  2018-06-13 15:00:46 UTC  Saudi Arabia  ...    0.00006  2018-06-22 13:57:55 UTC

[96 rows x 22 columns]

In [78]:
import pandas as pd
df2 = pd.read_csv ("http://dados.ufrn.br/dataset/06641eab-7f73-46a4-85b7-181ab55dcae0/resource/e3d3e784-1349-4a8f-ad09-86e893328f9e/download/exemplares.csv", sep=";" , encoding= 'ISO-8859-1')
df2

        id_exemplar codigo_barras  ...          localizacao registro_sistema
0                 5       L000003  ...  304(812/814)  A168n                1
1                 4       L000002  ...   304(812/814) A168n                1
2                 3       L000001  ...   304(812/814) A168n                1
3                 7       L000114  ...          159.9 A228m                5
4                 9       L000040  ...          317.3  B79s               14
...             ...           ...  ...                  ...              ...
566053      1349417    2020006764  ...            631.4 I39           266483
566054      1349418    2020006772  ...           636.5 S623           266484
566055      1349419    2020006769  ...           631.8 F411           266485
566056      1349422    2020006777  ...  631.811 M239a 2.ed.           266486
566057      1349423    2020006768  ...         633.369 Z73c           266487

[566058 rows x 7 columns]

In [73]:
import pandas as pd
df_housing = pd.read_csv ("/content/sample_data/california_housing_test.csv")
df_housing

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
4/4AHJGfyA1n9NTQryt0i9yBCX3phhQ579Qopv00thojbuEecUnXIDexg
Mounted at /content/drive

In [72]:
import pandas as pd 
df_train = pd.read_csv ("/content/sample_data/california_housing_train.csv")
df_train

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]

In [74]:
df_transposed = df_train.T
df_transposed

                         0         1      ...       16998       16999
longitude            -114.3100   -114.47  ...   -124.3000   -124.3500
latitude               34.1900     34.40  ...     41.8000     40.5400
housing_median_age     15.0000     19.00  ...     19.0000     52.0000
total_rooms          5612.0000   7650.00  ...   2672.0000   1820.0000
total_bedrooms       1283.0000   1901.00  ...    552.0000    300.0000
population           1015.0000   1129.00  ...   1298.0000    806.0000
households            472.0000    463.00  ...    478.0000    270.0000
median_income           1.4936      1.82  ...      1.9797      3.0147
median_house_value  66900.0000  80100.00  ...  85800.0000  94600.0000

[9 rows x 17000 columns]

In [75]:
import pandas as pd
df_anscombe = pd.read_json ("/content/sample_data/anscombe.json")
df_anscombe

   Series   X      Y
0       I  10   8.04
1       I   8   6.95
2       I  13   7.58
3       I   9   8.81
4       I  11   8.33
5       I  14   9.96
6       I   6   7.24
7       I   4   4.26
8       I  12  10.84
9       I   7   4.81
10      I   5   5.68
11     II  10   9.14
12     II   8   8.14
13     II  13   8.74
14     II   9   8.77
15     II  11   9.26
16     II  14   8.10
17     II   6   6.13
18     II   4   3.10
19     II  12   9.13
20     II   7   7.26
21     II   5   4.74
22    III  10   7.46
23    III   8   6.77
24    III  13  12.74
25    III   9   7.11
26    III  11   7.81
27    III  14   8.84
28    III   6   6.08
29    III   4   5.39
30    III  12   8.15
31    III   7   6.42
32    III   5   5.73
33     IV   8   6.58
34     IV   8   5.76
35     IV   8   7.71
36     IV   8   8.84
37     IV   8   8.47
38     IV   8   7.04
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89